#container
{
    width:1100px;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
    background-color: black;
    color: bisque;
    text-align: center;
    padding: 15px;
}
#score
{
    float: left;
    background-color: lightblue;
    width: 120px;
    min-height: 700px;
    padding: 10px;
}
#game
{
    float: left;
    background-color: lightgray;
    width: 680px;
    min-height: 680px;
    padding: 20px;
}
#info
{
    float: left;
    background-color: lightgreen;
    width: 220px;
    min-height: 700px;
    padding: 10px;
}
#footer
{
    clear: both;
    background-color: black;
    color: snow;
    text-align: center;
    padding: 20px;
}
#wynikNapis
{
    clear: both;
    text-align: center;
    font-size: 30px;
}
#wynikCyfra
{
    clear: both;
    text-align: center;
    color: darkred;
    font-size: 25px;
    padding-left: 8px;
}
#wynikKto{
    clear: both;
    text-align: center;
    color: darkred;
    padding-left: 0px;
    font-size: 16px;
}
#buttonZacznij
{
   width:inherit;
}
#trudnoscNapis
{
        clear: both;
    text-align: center;
    font-size: 15px; 
}
#poziomTrudnosci
{
    width: 120px;
    font-size: 15px
}
#startNapis
{
     clear: both;
    text-align: center;
    font-size: 15px; 
}
#startWybor
{
    width: 120px;
    font-size: 15px
}
#guziczki
{
    text-align: center;
}
#guziczkiNag
{
    font-size: 14px;
}
.wnap
{
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.wcyf
{
    color: darkred;
    font-size: 17px;
    text-align: center;
}
.zap
{
    text-align: center;
}
.nag
{
    padding-top: 9px;
    text-align: center;
    color: brown;
    font-size: 18px;
}
.dane
{
    font-size: 15px;
}
.pola
{
     float: left;
    background-color:cornflowerblue;
    width: 35px;
    height: 35px;
    border-color: lightgray;
    border-style: solid;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: white;
}